.darkBlue {
    color: #3e658e;
}

h2 {
    /* all h2s are for headlines */
    font-size: 1.3em;
}

#commentArea {
    background-color: #eeeeee;
    color: #3e658e !important;
}

#commentArea h1 {
    color: #3e658e !important;
}